{% extends "base.html" %}
{% load static %}

    {% block content %}
    <div style=" margin-top:25px;  " >
        <div class="container-fluid">
            <div class="row">              
                <div class="col-md-10">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Auditing</li>
                    </ol>
                    <!-- heading - Auditing -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title-all text-center ">
                                <h1>SRIKARA Auditing</h1>
                                <p>We do all forms of Accounting services and needs</p>
                                <div class="col text-center pera pt-3">
                                    ACCOUNTING as a Sales Tax Practitioner, started in the year 2009,
                                    starts with only 7 Clients and now grown up with 85 Clients,
                                     ACCOUNTING on Taxation added into the field as it is one of my family business,
                                      continuing right from the period of my grandfather Mr.Muthuvel,
                                       who is the great impact of sowing the SalesTax practitioner -
                                        Accounting as a business, and Mr.CHOCKALING.M, my Father, 
                                        who continues and extends (Sales Tax practitioner – Accounting),
                                         which moves in a greater path with 300 numbers of clients in different
                                          companies for many years, -  that makes growth to add an additional
                                           extends in my career termed as TALLY ERP.
                                  </div>
                            </div>
                        </div>
                    </div>
                      <!-- end heading - Auditing -->
 <!-- Start About Page  -->
 <section class="section">
 <div class="container">
     <!-- Start MSME -->
    <div class="row ">
        <div class="col-lg-6">
            <div class="banner-frame"> 
                <img class="img-fluid " src="{% static 'images/auditing/msme3.PNG'%}" alt="" />
                
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="noo-sh-title-top text-center">MSME REGISTRATION</h2>
            <hr class="hr1" >
            <hr class="hr2" >
            <hr class="hr3">
            <p class="pera text-justify">  SRIKARA guide MSME registration for 
                Proprietorships, Hindu Undivided Family,
                 Partnership Firm, One Person Company, Limited Liability Partnership,
                  Private Limited Company, Limited Company, Producer Company, 
                  any association of persons, co-operative societies or any other undertaking
                   can obtain MSME registration in India.</p>
                   <div class="pera text-justify">
                   <p> <i class="fas fa-chevron-circle-right"></i> Registration work done in two days.</p>
                   <p><i class="fas fa-chevron-circle-right"></i>   Once Applied will get back to you.</p>
                   </div>
                   <p><a href="{% url 'contact' %}" class="text-white"> <button class="btn hvr-hover" type="submit"><b>Apply and Grow your Business</b></a></button></p>  
   
        </div>
      
            
         
    </div>
        <!-- end MSME -->

</div>

<!-- End About Page -->
</section>

 <!-- Start About Page  -->
 <section class="section">
    <div class="container">
        <!-- Start MSME -->
       <div class="row ">
        <div class="col-lg-6">
            <h2 class="noo-sh-title-top text-center">GST REGISTRATION</h2>
            <hr class="hr1" >
            <hr class="hr2" >
            <hr class="hr3">
            <p class="pera text-justify">  SRIKARA guide GST registration, Goods and Services Tax
                 Identification Number (GSTIN) or GST Number is a unique identifier assigned to a
                  business or person registered under the GST Act. ... As per current GST rules,
                   all GST registered businesses are required to print the GSTIN on all GST Invoices
                    that provide to customers.</p> 
                   
                   <div class="pera text-justify">
                    <p> <i class="fas fa-chevron-circle-right"></i> Completely Online - No need to visit Office</p>
                   <p> <i class="fas fa-chevron-circle-right"></i> GST registration usually takes between 2-6 working
                    days.</p>
                   <p><i class="fas fa-chevron-circle-right"></i>   Once Applied will get back to you.</p>
                   </div>
                   <p><a href="{% url 'contact' %}" class="text-white"> <button class="btn hvr-hover" type="submit"><b>Apply and Grow your Business</b></a></button></p>  
   
        </div>
           <div class="col-lg-6">
               <div class="banner-frame"> 
                   <img class="img-fluid " src="{% static 'images/auditing/gst.png'%}" alt="" />
                   
               </div>
           </div>
         
         
               
            
       </div>
           <!-- end MSME -->
   
   </div>
   
   <!-- End About Page -->
   </section>


 <!-- Start About Page  -->
 <section class="section">
    <div class="container">
        <!-- Start MSME -->
       <div class="row ">
        <div class="col-lg-6">
            <div class="banner-frame"> 
                <img class="img-fluid audImg" src="{% static 'images/auditing/fssai5.png'%}" alt="" />
                
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="noo-sh-title-top text-center">FSSAI REGISTRATION</h2>
            <hr class="hr1" >
            <hr class="hr2" >
            <hr class="hr3">
            <p class="pera text-justify"> FSSAI stands for Food Safety and Standards Authority of
                 India which is an organization that monitors and governs the food business in India.
                 It is responsible for the registering and licensing of the food business operators
                  (FBO) in India and it lays down the rules and regulation for running the food
                   business in India.</p>
                   <div class="pera text-justify">
                   <p> <i class="fas fa-chevron-circle-right"></i> Registration work done in seven or eight days, from the date of submission of application for registration.</p>
                   <p><i class="fas fa-chevron-circle-right"></i>   Once Applied will get back to you.</p>
                   </div>
                   <p><a href="{% url 'contact' %}" class="text-white"> <button class="btn hvr-hover" type="submit"><b>Apply and Grow your Business</b></a></button></p>  
   
        </div>
         
         
         
               
            
       </div>
           <!-- end MSME -->
   
   </div>
   
   <!-- End About Page -->
   </section>

<section class="section bg-squash">
        <!-- Start Blog  -->
        <div >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-all text-center">
                            <h2 class="noo-sh-title-top text-center">Accounting Services</h2>
                            <p>
                               We do all kinds of Accounting Services.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img class="img-fluid" src="{% static 'images/auditing/stock.PNG'%}" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="title-blog">
                                    <h3>Stock Inventory<br> Audit</h3>
                                    <p class="text-justify">
                                        An Inventory Audit is a process of accounting the Inventory level of a company.
                                        We maintains the record of stock stored by the company while keeping track of the company's current supply.
                                         Companies claim inventory as an asset and claim valuation for it every year
                                    </p>
                                </div>
                                <ul class="option-blog">
                                    
                                    <li><a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="right" title="Apply now"><i class="fas fa-eye"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img class="img-fluid" src="{% static 'images/auditing/incAexp.PNG'%}" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="title-blog">
                                    <h3>Expenses & Income Audit</h3>
                                    <p class="text-justify">
                                        
                                        Audit Assertions are the implicit or explicit claims and representations
                                         made by the management responsible for the preparation of financial
                                          statements regarding the various elements of
                                           financial statements and disclosures requires an audit.
                                    </p>
                                </div>
                                <ul class="option-blog">
                                    <li><a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="right" title="Apply now"><i class="fas fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img class="img-fluid" src="{% static 'images/auditing/cash.PNG'%}" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="title-blog">
                                    <h3>Cash & Bank Reconciliation</h3>
                                    <p class="text-justify">
                                        Businesses maintains cash book to record both bank transactions
                                         as well as cash transactions. 
                                        If balances do not match,
                                         the business needs to identify reasons for the discrepancy and 
                                         reconcile the differences, & to
                                        confirm every item is accounted & ending balances
                                         match.
                                    </p>
                                </div>
                                <ul class="option-blog">
                                    <li><a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="right" title="Apply now"><i class="fas fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img class="img-fluid" src="{% static 'images/auditing/ledger.PNG'%}" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="title-blog">
                                    <h3>Ledgers test & Asset Value</h3>
                                    <p class="text-justify">
                                        Ledger account shows detailed financial information of a business
                                         regarding debtors and creditors, assets, & incomes & expenses. 
                                        
                                        Asset ledgers (Things of commercial value) are internal records for a company; therefore,
                                         they are not disclosed publicly.
                                        
                                    </p>
                                </div>
                                <ul class="option-blog">
                                    <li><a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="right" title="Apply now"><i class="fas fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog  -->

</section>
















                    </div>
                    <div class="col-md-2">
                        <div class="jumbotron text-center" >
                            <h2 class="faw"><small> Accounting Services</small></h2>
                            <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                            <p><a href="{% url 'auditing' %}"><b >E-Filing</b></a></p>
                            <p><a href="{% url 'auditing' %}"><b>GST Registration</b></a></p>
                            <p><a href="{% url 'auditing' %}"><b>IT Filing</b></a></p>
                            <p><a href="{% url 'auditing' %}"><b>Tax Consultant</b></a></p>
                            </marquee>
                           
                       </div> 
                     <div class="jumbotron" style="text-align:center;">
                      <h2 class="faw">System Sales & Services</h2>
                        <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                        <p><a href="{% url 'syservices' %}"><b> OS Installation</b></a></p>
                        <p><a href="{% url 'syservices' %}"><b>Anti - Virus Packages</b></a></p>
                        <p><a href="{% url 'syservices' %}"><b>Laptop and Desktop Sales</b></a></p>
                        <p><a href="{% url 'syservices' %}"><b>Networking Services</b></a></p>
                        </marquee>
                       
                   </div>
                        <div class="jumbotron" style="text-align:center;">
                            <h2 class="faw"><small>Tally Certification Courses</small> </h2>
                            <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                                <p><a href="{% url 'academy' %}"><b> Tally ACE</b></a></p>
                                <p><a href="{% url 'academy' %}"><b>Tally PRO</b></a></p>
                                <p><a href="{% url 'academy' %}"><b>Tally GURU</b></a></p>
                                <p><a href="{% url 'academy' %}"><b>GST Using Tally ERP9</b></a></p></marquee>
                        </div>
                        <div class="jumbotron" style="text-align:center;">
                            <h2 class="faw"><small> Full Stack Developer</small></h2>
                          <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                            <p><a href="{% url 'academy' %}"><b> Java</b></a></p>
              <p><a href="{% url 'academy' %}"><b>Python</b></a></p>
              <p><a href="{% url 'academy' %}"><b>.NET(MVC)</b></a></p>
              <p><a href="{% url 'academy' %}"><b>PHP-MYSQL</b></a></p>
              <p><a href="{% url 'academy' %}"><b>Android</b></a></p></marquee>
                         
                     </div>
                     <div class="jumbotron text-center" >
                        <h2 class="faw"><small> Candidate Gains</small></h2>
                        <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                        <p><a href="#"><b> Training by MNC Professionals</b></a></p>
                        <p><a href="#"><b>Incomaparable Syllabus</b></a></p>
                        <p><a href="#"><b>Easy Installment Fee</b></a></p>
                        <p><a href="#"><b>100% Placement Guaranteed</b></a></p>
                        </marquee>
                       
                   </div>
                   <div class="jumbotron" style="text-align:center;">
                    <h2 class="faw">Benefits</h2>
                    <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                      <p><a href="#"><b>Training by MNC Professionals</b></a></p>
                      <p><a href="#"><b>Incomaparable Syllabus</b></a></p>
                      <p><a href="#"><b>Online Webinar</b></a></p>
                      <p><a href="#"><b>Online Intellectual Classes</b></a></p>
                      <p><a href="#"><b>Easy Installment Fee</b></a></p>
                      <p><a href="#"><b>100% Placement Guaranteed</b></a></p></marquee>
                      
                  </div>
         
                    
                 
            </div>
            </div>
            </div>
            </div>
     {% endblock content %}
   