{% extends "base.html" %}
{% load static %}

    {% block content %}
     <!-- Start Slider -->
     <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">            
            <li class="text-center">
                <img src="{% static 'images/slide-1.jpg'%}" class="img-fluid" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20 animated fadeInDown"><strong>GST PRACTITIONER</strong></h1>
                            <p class="m-b-40 animated fadeInRight">We do all kinds of Accounting Services <br>
                                Auditing, Taxation, Returns & E-Filing</p>
                            <!-- <p><a class="btn hvr-hover animated slideInUp" href="#">know more</a></p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/slide-5.jpg'%}" class="img-fluid" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20 animated fadeInRight"><strong> Software Solutions </strong></h1>
                            <p class="m-b-40 animated fadeInLeft">Full Stack Developer<br>
                                Website Developing, Web Development, Web Hosting</p>
                            <!-- <p><a class="btn hvr-hover" href="#">know more</a></p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/slide-7.jpg'%}" class="img-fluid" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20 animated zoomIn"><strong>Career Guidance <br>Guaranteed</strong></h1>
                            <p class="m-b-40 animated slideInUp">Earning gives creativity, creativity leads to thinking
                                 <br> Thinking provides knowledge, knowledge makes you Great.</p>
                            <!-- <p><a class="btn hvr-hover" href="#">know more</a></p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/slide-6a.jpg'%}" class="img-fluid" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20 animated bounceInLeft"><strong>Hurry Up to this<br>Innovative World</strong></h1>
                            <p class="m-b-40 animated bounceInRight">Multimedia - Web Designing, Creative Designs
                                 <br>by Real time Industrial experts </p>
                            <!-- <p><a class="btn hvr-hover" href="#">Know More</a></p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/slide-8a.jpg'%}" class="img-fluid" alt="">
            
            </li>
            <li class="text-center">
                <img src="{% static 'images/slide-9.jpg'%}" class="img-fluid" alt="">
            
            
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->
    <!-- section-->
 <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="noo-sh-title-top text-center">WELCOME TO THIS CORPORATE WORLD</h2>
          <hr class="hr1">
          <hr class="hr2">
          <hr class="hr3">
        </div>

        <div class="w-100 text-center mb-2 pt-3">
          <h2>SRIKARA - Multispecialty Professional Training Hub</h2>
        </div>
        <div class="col text-center pera">
         We, the organization of Education in training, Auditing and Web Development concern Established in 2006,
            SRIKARA is a pioneer in Tally ERP - Authorized Tally training Institute, Computer Science
             and Multimedia. This Institute has successfully trained more than 7000 students through its concern
             interaction and corporate relations. SRIKARA is one of the reckoned names in the training sector
              imparting training services to Private business enterprises, institutions and individuals.
              Our Hub is followed by current and a dedicated team of certified professionals.
        </div>
      </div>
    </div>
  </section>
<section class="section bg-squash">
    <div class="col-lg-12">
        <h2 class="noo-sh-title-top text-center">Our Sportiveness</h2>
        <hr class="hr1">
        <hr class="hr2">
        <hr class="hr3">
      </div>

      <div class="w-100 text-center mb-2 pt-3">
        <h2>Think Different in Smart</h2>
      </div>
      <!-- Start Categories  -->
      <div class="categories-shop">
        <div class="container"> 
            <div class="row">               
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box service_type">
                        <img class="img-fluid" src="{% static 'images/1c.jpg'%}" alt="" />
                        <div class="overlay">
                            <h5 class="text-center text1"><b>Qualified Experts</b></h5>    
                            <p class="p1">
                              15+ years of Industrial Experts with certified qualifiers </p>
                            <p class="p1"> Inter-Personal activity with MNC experts in each course</p>  
                            <p class="p1">Seminar and Workshops are conducted in seasonal period</p>  
                            <p class="p1">Intellectual method of handling the technology</p>    
                          </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box service_type">
                        <img class="img-fluid" src="{% static 'images/td4.jpg'%}" alt="" />
                        <div class="overlay">
                            <h5 class="text-center text1"><b>Staffing</b></h5>    
                            <p class="p1">SRIKARA, well equipped in real time</p>
                               <p class="p1"> so framed syllabus in real structure training for students. </p>
                                <p class="p1"> 100 Percent,training would be a Professionalism based on Real Time Industry.</p>    
                                <p class="p1"> Authorized Tally Certificate in Accounts</p>    
                                <p class="p1"> Full stack Developer in Computer Science</p> 
                                <p class="p1"> Innovative designs in Multimedia</p> 

                          </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box service_type">
                        <img class="img-fluid" src="{% static 'images/td5.png'%}" alt="" />
                        <div class="overlay">
                            <h5 class="text-center text1"><b>Placement Opportunities</b></h5>    
                            <p class="p1">
                                Better opportunities for your career </p>
                                <p class="p1">Current Trend in Technology</p>
                              <p class="p1">Enhances your payment in high potential</p>
                              <p class="p1">Conducts Mock Interview</p>
                              <p class="p1">100% placement Guaranteed</p>
                              <p class="p1">Quick career and profession growth</p> 
                          </div>
                    </div>
                </div>
            
                </div>
            </div>
            
        </div>
    </div>
</section>
<section class="section">
        <!-- Start About Page  -->
  
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/1.png'%}" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="noo-sh-title-top text-center">Our Strength</h2>
                        <hr class="hr1" >
                        <hr class="hr2" >
                        <hr class="hr3">
                        <p class="pera text-justify">  SRIKARA is powerful Authorized with Tally training partner, we train for students using original
                            software and also provide Tally Certifications. Education is our passion, students who enrolls at
                            our concern, we guide and train them towards their bright future and provide placements with trust
                            and confident. SRIKARA, favors on Accounts, Computer Science & Multimedia, we frame syllabus & providing
                            a real structure training for students & faculties. 100 Percent, Our training would be a Professionalism
                            based on Real Time Industry.</p>
                            <p class="pera text-justify">SRIKARA is a concern with a group of entrepreneurs with well-experienced high
                                 qualified professional members, who aims to develop the client obvious choice
                                  as a dependable to the members on the way to Global Technology Development
                                   challenges.  </p>
                       
                    </div>
                </div>           
       
            </div>
      
        <!-- End About Page -->
</section>
<section class="section">
    <!-- Start About Page  -->

        <div class="container">
            <div class="row">
               
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top text-center">What we do?</h2>
                    <hr class="hr1" >
                    <hr class="hr2" >
                    <hr class="hr3">
                    <p class="pera text-justify">  At SRIKARA, we are sure to provide the desired training services, meeting global quality standards and
                        project needs for the clients.  </p>
                        <ul class="pera">
                            <li><i class="fas fa-chevron-circle-right"></i> Real time training</li>
                            <li><i class="fas fa-chevron-circle-right"></i> Corporate Style training</li>
                            <li><i class="fas fa-chevron-circle-right"></i> Concepts based on companies</li>
                            <li><i class="fas fa-chevron-circle-right"></i> Placement Oriented syallabus framed</li>
                            <li><i class="fas fa-chevron-circle-right"></i> Projects in every course</li>
                            <li><i class="fas fa-chevron-circle-right"></i> Technical Skills and task for each course</li>
                          </ul>
                   
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/career2.PNG'%}" alt="" />
                    </div>
                </div>
                <div class="col text-center pera">
                    Our concern is dedicated to deliver good quality in client, product and training based services with keenly priced, which will improve the quality of work at all levels in an organization.<br> We strongly
                    believe, “Business goes where it is invited and stays where it is well treated”.
                    
                  </div>
            </div>           
   
        </div>
  
    <!-- End About Page -->
</section>

  
  <section class="section bg-squash">
    <div class="col-lg-12">
        <h2 class="noo-sh-title-top text-center">Real time Professionals</h2>
        <hr class="hr1">
        <hr class="hr2">
        <hr class="hr3">
      </div>

      <div class="w-100 text-center mb-2 pt-3">
        <h2>we educate</h2>
      </div>
       <!-- Start course details  -->
       <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/GST1.png'%}"  class="img animated tada infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/tallyace.PNG'%}"  class="img animated pulse infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/tallypro.PNG'%}"  class="img animated swing infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/tallyguru.PNG'%}"  class="img animated heartBeat infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/java1.jpg'%}"  class="img animated shake infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/dotnet6.png'%}"  class="img animated pulse infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/phpmysql.png'%}"  class="img animated pulse infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/android.png'%}"  class="img animated rubberBand infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/python.png'%}"  class="img animated wobble infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/angular.png'%}"  class="img animated zoomIn infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/wd3.PNG'%}"  class="img animated pulse infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/cpp.PNG'%}"  class="img animated tada infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/office.jpg'%}"  class="img animated tada infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/advexcel.jpg'%}"  class="img animated zoomIn infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/dcate.png'%}"  class="img animated pulse infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/dipcs.png'%}"  class="img animated tada infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/ps2.gif'%}"  class="img animated tada infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/cd1.png'%}"  class="img animated pulse infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/gd1.jpg'%}"  class="img animated rubberBand infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <div class="ins-img pt-1">
                        <img src="{% static 'images/mm.jpg'%}"  class="img animated fadeIn infinite" alt="" />
                       
                    </div>     
                    <div class="card-body text-center position-absolute p-0 w-100" style="bottom: -5px;">
                        <a href="{% url 'academy' %}" class="btn btn-warning">Know More</a>
                      </div>               
                </div>
            </div>
        </div>
    </div>
    <!-- End course details  -->
  </section>
  <!--Growth-->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h2 class="noo-sh-title-top text-center">Our Growth</h2>
            <hr class="hr1">
            <hr class="hr2">
            <hr class="hr3">
          </div>
  
          <div class="w-100 text-center mb-2 pt-3">
            <h2>Specialty</h2>
          </div>
          <div class="col text-center pera">
            Mr.MUTHUKUMAR, the Proprietor of SRIKARA, holds the best and inevitable place in short time.
            To manage a concern is a social process that processes consist of planning, control, co-ordination
            and motivation. Based on this our SRIKARA, is a well-planned one. We motivate the student’s like
            providing quality in training, wisdom in task, real time in concepts and succeed in life.
            We work with our clients’ and business processes that shape their competitive advantages. We achieved this part
            in a successful manner. It happens because of -<br> “Great things in business are never done by one person. 
            They're done by a team of people”,<br> and that’s the Innovative and growth of SRIKARA.
          </div>
      </div>
    </div>
  </section>
  <!--end growth-->
 <!--start Partners Slide-->
 <section class="section bg-squash">
    <div class="col-lg-12">
        <h2 class="noo-sh-title-top text-center">Our Clients</h2>
        <hr class="hr1">
        <hr class="hr2">
        <hr class="hr3">
      </div>

      <div class="w-100 text-center mb-2 pt-3">
        <h2>Consumer accountability drives quality and efficiency <!--- Pete Hoekstra--></h2>
      </div>
   
        
        <div id="bar">
          
        </div>
        
       
        <!--end Partners Slide-->
</section>
<section class="section">
    <div class="col-lg-12">
        <h2 class="noo-sh-title-top text-center">Testimonials</h2>
        <hr class="hr1">
        <hr class="hr2">
        <hr class="hr3">
      </div>

      <div class="w-100 text-center mb-0 pt-3">
        <h4 class="h4">Receive lots of suggestions and appreciations which inspire us to do better every day<!--- Pete Hoekstra--></h4>
      </div>

            <div class="col-md-10 col-center m-auto">
               
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                        <li data-target="#myCarousel" data-slide-to="6"></li>
                        <li data-target="#myCarousel" data-slide-to="7"></li>
                        <li data-target="#myCarousel" data-slide-to="8"></li>
                        <li data-target="#myCarousel" data-slide-to="9"></li>
                        <li data-target="#myCarousel" data-slide-to="10"></li>
                    </ol>   
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="img-box"><img src="{% static 'images/t0-psgr.jpg'%}"  alt=""></div>
                            <p class="testimonial">Good experience with SRIKARA, as flexible staffs and service was really good,
                                handling the class is in patience, concept of the syllabus is in real time oriented.
                                The method of training is useful for every students for their career.</p>
                            <p class="overview"><b>Tie Up -  JOC Program</b></p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{% static 'images/t1-ngp.png'%}" alt=""></div>
                            <p class="testimonial"> Past 4 years we have been tie up with SRIKARA, which is an extraordinary in training, is 
                                maintained equally on both practical and theoretical. Good staff, good services, good managing the 
                                report too which is up to date.</p>
                            <p class="overview"><b>Tie Up - VAC Program</b></p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{% static 'images/t2-kg.png'%}" alt=""></div>
                            <p class="testimonial"> The orientation program given by SRIKARA in Tally basis was really nice and impressed by students,
                                and that's the opportunity given to them. The training and managing the staff from their side was really 
                                best. Our institution was really proud to be tie up with SRIKARA.</p>
                            <p class="overview"><b>Tie Up - AOC Program</b></p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{% static 'images/t3-vlb.jpg'%}" alt=""></div>
                            <p class="testimonial"> Traning was keen satisfied by our managements, students and staff. Flexible in nature of training 
                                for the students. Best management, keen update about the program follow ups provide by them was really 
                                superb. Great to attach with SRIKARA. All the best for the wisdom sharing of real time based knowledge
                                provided by them was very nice.</p>
                            <p class="overview"><b>Tie Up - VAC Program</b></p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{% static 'images/t4-ramalinga.png'%}" alt=""></div>
                            <p class="testimonial">Friendly and confident in presentation provided by them. Happy with the balance, class conducting 
                                the lab for practical and class for theoretical. The syllabus framed with full of real time examples 
                                which is easily understand for the students. The management was very positive, which helped the course easier
                                to follow.</p>
                            <p class="overview"><b>Tie Up - JOC Program</b></p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{% static 'images/t5-sns.jpg'%}" alt=""></div>
                            <p class="testimonial"> The seminar provided by SRIKARA was simply superb as the explanation was with relevant examples 
                                and the syllabus framed are helpful to understand the thoery and practical too. The interaction 
                                and follow ups are maintained with excellant performance. Gotta a good opportunity for them from our side 
                                hope will continue in best in forthcoming, all the best SRIKARA team members.</p>
                            <p class="overview"><b>Guest Lecture</b></p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{% static 'images/t6-sankara.jpg'%}" alt=""></div>
                            <p class="testimonial">  We thank you for the guiding and providing the seminar confirmation in a very short time.
                                The presentation went on well and feedback is also vey good.We look forward seeking your services and
                                 support in future too whenever required.</p>
                            <p class="overview"><b>Seminar</b></p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{% static 'images/t7-kongu.jpg'%}" alt=""></div>
                            <p class="testimonial"> This is with reference to the workshop on “Implementation of GST” conducted by 
                                SRIKARA for commerce Department. Overall, the workshop was received very well 
                                by the students and the Guest Mr.Muthukumar was able to communicate his message across to the students
                                 successfully with satisfaction.</p>
                            <p class="overview"><b>Workshop</b></p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{% static 'images/t8-kovai.PNG'%}" alt=""></div>
                            <p class="testimonial"> The practical illustrations and training aids by SRIKARA staff members
                                trained the students with effectiveness and relevance of the workshop was more useful.
                                 On the whole, considering the duration of the program, I am quite happy with the workshop.</p>
                            <p class="overview"><b>Workshop</b></p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{% static 'images/t9-thiag.png'%}" alt=""></div>
                            <p class="testimonial">Our College management were glad with the overall experience dealing with SRIKARA by commerce department.
                                They were able to understand our exact expectations criteria and they were very prompt in their response and service.
                                 We look forward to their support going further.</p>
                            <p class="overview"><b>Guest Lecture</b></p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{% static 'images/t10-man.PNG'%}" alt=""></div>
                            <p class="testimonial">  “SRIKARA provided excellent training facilities. The training session was really helpful.
                                outstanding expertise amazed me. Needless to say, SRIKARA’s service is beyond my expectation.” 
                               </p>
                            <p class="overview"><b>IT PROJECT LEAD</b></p>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
   

</section>


    


    {% endblock content %}