{% extends "base.html" %}
{% load static %}

    {% block content %}
    <div style=" margin-top:25px;  " >
        <div class="container">
            <div class="row">              
                <div class="col-md-10">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">System Services</li>
                    </ol>
                    <!-- heading - academy -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title-all text-center">
                                <h1>SRIKARA - System Services</h1>
                                <p>Welcome to this TrustZone World</p>
                            </div>
                            <!-- Start Shop Page  -->
   
      
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        

                        <div class="product-categorie-box">
                            <div class="tab-content">
                               
                                <div role="tabpanel" class="tab-pane fade show active" id="list-view">
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="">Os Installation</p>
                                                        </div>
                                                        <img src="{% static 'images/sysales/s3.jpg'%}" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                               
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>Os Installation</h4>
                                                    <!-- <h5> <del>$ 60.00</del> $40.79</h5> -->
                                                   
                                                        <ul class="pera">
                                                            <li><i class="fas fa-chevron-circle-right"></i> Install or Re-install an operating system on one computer (OS discs are required and will not be supplied)</li>
                                                            <li><i class="fas fa-chevron-circle-right"></i> Ensure that all necessary drivers have been installed</li>
                                                            <li><i class="fas fa-chevron-circle-right"></i> Make sure system is up to date</li>
                                                            <li><i class="fas fa-chevron-circle-right"></i> Verify the system is functioning properly</li>

                                                          </ul>
                                                   
                                                    <a class="btn hvr-hover" href="{% url 'contact' %}">Enquire Us</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">New</p>
                                                        </div>
                                                        <img src="{% static 'images/sysales/s1.PNG'%}" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                              
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>Desktop Sales</h4>
                                                    <h5> <del>Rs. 40k</del> Rs. 30K</h5>
                                                    <p class="text-justify">
                                                        A desktop computer is a personal computer that fits on or under a desk.
                                                         It has a monitor or another display, keyboard, mouse, and either a horizontal
                                                          or vertical (tower) form factor. Unlike a laptop, which is portable, a desktop
                                                           computer is meant to stay at one location.
                                                    </p>
                                                    <a class="btn hvr-hover" href="{% url 'contact' %}">Enquire Us</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">Sale</p>
                                                        </div>
                                                        <img src="{% static 'images/sysales/s2.PNG'%}" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                               
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>Laptop Sales</h4>
                                                    <!-- <h5> <del>$ 60.00</del> $40.79</h5> -->
                                                    <p>
                                                        We've got you covered for the cheapest of laptop deals as well as bigger savings
                                                         on models more geared towards heavy duty programs if you're looking to use your
                                                          new laptop for media editing. Not only have we found the best laptop deals out
                                                           there, but we're also here to save you from the arduous task of comparing laptop
                                                            specs. 
                                                    </p>
                                                    <a class="btn hvr-hover" href="{% url 'contact' %}">Enquire Us</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	
            </div>
    
   
    <!-- End Shop Page -->
                            <!-- col-12 end -->
                        </div>
                    </div>
<!-- filter button -->





















                    </div>
                    <div class="col-md-2">
            
                        <div class="jumbotron" style="text-align:center;">
                            <h2 class="faw"><small>Tally Certification Courses</small> </h2>
                              <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                              <p><a href="{% url 'academy' %}"><b> Tally ACE</b></a></p>
                              <p><a href="{% url 'academy' %}"><b>Tally PRO</b></a></p>
                              <p><a href="{% url 'academy' %}"><b>Tally GURU</b></a></p>
                              <p><a href="{% url 'academy' %}"><b>GST Using Tally ERP9</b></a></p></marquee>
                          </div>
                          <div class="jumbotron" style="text-align:center;">
                            <h2 class="faw">Full Stack Developer</h2>
                            <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                            <p><a href="{% url 'academy' %}"><b> Java</b></a></p>
                            <p><a href="{% url 'academy' %}"><b>Python</b></a></p>
                            <p><a href="{% url 'academy' %}"><b>.NET(MVC)</b></a></p>
                            <p><a href="{% url 'academy' %}"><b>PHP-MYSQL</b></a></p>
                            <p><a href="{% url 'academy' %}"><b>Android</b></a></p></marquee>
                           
                       </div>
                    <!-- <div class="jumbotron" style="text-align:center;">
                        <h5>Benefits</h5>
                        <p><a href="#">Training by MNC Professionals</a></p>
                        <p><a href="#">Incomaparable Syllabus</a></p>
                        <p><a href="#">Easy Installment Fee</a></p>
                        <p><a href="#">100% Placement Guaranteed</a></p>
                        
                    </div>-->
                    
                 
            </div>
            </div>
            </div>
            </div>
     {% endblock content %}
   